<%= link_to 'New Kitten', new_kitten_path %>
<p><%= notice %></p>

<h1>Kittens</h1>

<ul>
  <% @kittens.each do |kitten| %>
    <li><%= link_to kitten.name, kitten_path(kitten) %></li>
  <% end %>
</ul>
